@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixin" as *;

.comment-form {

    @include desktop {
        width: 70%;
        margin: 0px auto;
    }

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 8px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__input {
    width: 100%;
    min-height: 30px;
    border: 1.5px solid $border-color;
    border-radius: 10px;

    &:active,
    &:focus {
      border: 2px solid $primary-accent;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 60px;
    border: 1.5px solid $border-color;
    border-radius: 10px;

    &:active,
    &:focus {
      border: 2px solid $primary-accent;
    }
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    padding: 5px 15px;
    background: $primary-accent;
    color: $alt-text;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "outfit";

    @include desktop {
        margin-bottom: 10px;
     }
  }
}

.comments {
  margin: 20px 0px;

  @include desktop {
    width: 70%;
    margin: 0px auto;
}

  &__title {
    font-size: 14px;
    font-family: "outfit";

    @include desktop {
       font-size: 16px;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid $border-color;
  }

  &__author,
  &__date {
    font-size: 12px;
    color: $primary-accent;
    margin: 5px 0px;
  }

  &__text {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 10px;

    @include tablet {
       font-size: 20px;
       line-height: 30px;
    }
    @include desktop {
       font-size: 22px;
       line-height: 30px;
    }
  }
}
