// Primary Colors
$primary-text: #0C1E1A;  // Black - Primary text color
$primary-accent: #1E6655; // Forest Green - Primary accent color (CTAs and icons)
$primary-bg: #EFFAF7;     // Pistachio - Primary background color

// Secondary Colors
$border-color: #B7CEC9;   // Sea Green - Border color and optional text color
$alt-bg: #E4EFEC;         // Sage - Alternate background color
$alt-text: #FFFFFF;       // White - Alternate text color, background for input fields and tags
$border-error: #B10606;        // Error state