@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixin" as *;

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 100%;
  background-color: $alt-bg;


  @include tablet {
    width: 48.5%;
  }

  &__image-container {
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  &__info {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-top-left-radius: 8px;
    border: 1px solid $alt-bg;
    font-weight: bold;
    padding: 4px;
    background: $alt-bg;
    
  }

  &__photographer {
    font-size: 12px;
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin: 8px;
  }

  &__tag {
    background-color: white;
    color: $primary-text;
    padding:0px 7px;
    border: 1px solid $primary-accent;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
  }
}
