@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixin" as *;

.card {
  border: .0625rem solid #ccc;
  border-radius: .625rem;
  max-width: 100%;
  background-color: $alt-bg;

  @include tablet {
    width: 40%;
  }

  @include desktop {
    width: 32%;
  }


  &__image-container {
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: .625rem .625rem 0 0;
  }

  &__info {
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    border-top-left-radius: .5rem;
    border: .0625rem solid $alt-bg;
    font-weight: bold;
    padding: .25rem;
    background: $alt-bg;
    
  }

  &__photographer {
    font-size: .75rem;
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
    margin: .5rem;
  }

  &__tag {
    background-color: white;
    color: $primary-text;
    padding:0rem .4375rem;
    border: .0625rem solid $primary-accent;
    border-radius: .5rem;
    font-size: .75rem;
    font-weight: 500;
  }
}
