@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixin" as *;

.footer {
  padding: 0rem 1rem;

  &__content {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-bottom: 140px;
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__links {
    @include tablet {
      display: flex;
      gap: 3.75rem;
      padding-right: 1.875rem;
    }
  }

  &__link {

    font-size: 14px;
    line-height: 23px;
    font-weight: 500;

    @include desktop {
      align-self: center;
    }
  }

  &__header {
    padding-top: 3rem;
  }

  &__column {
    margin: 1.875rem 0rem;
  }

  &__social {
    display: flex;
    gap: 1.25rem;
    margin: 1.25rem 0rem;
    display: none;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: flex;
      margin-top: 1.875rem;
    }
  }

  &__social2 {
    display: flex;
    gap: 1.25rem;

    @include desktop {
      display: none;
    }
  }

  &__copyright {
    font-size: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.9375rem;
    color: $border-color;
    word-spacing: 0.4375rem;
  }
}
