@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixin" as *;


.filter {
    background: $alt-bg; 
    padding: 1.25rem 0rem 1.25rem 1rem;

    @include tablet {
        padding: 1.25rem 1.5rem 5rem 1.5rem;
        min-height: 100%;
      }

    &__header {
        padding-bottom: .625rem;

        @include tablet {
            padding-bottom: 1.875rem;
        }

    }

    &__list {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
    }

    &__item {
        padding: 0rem .4375rem;
        border: .125rem solid $primary-accent;
        border-radius: .5rem;
        background: white;
        color: $primary-accent;
        font-size: .75rem;
        cursor: pointer;

        &:hover {
            background: $primary-accent;
            color: $primary-bg;
        }

        @include tablet {
            padding: 0rem .9375rem;
        }
    }
}