@use "./styles/partials/font" as *;
@use "./styles/partials/global" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixin" as *;

.app {
  &__main {
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__filter {
    @include desktop {
      min-width: 33%;
    }
  }

  &__content {
    @include desktop {
    }
  }
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding: 1.25rem;
}
